body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #500000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

  /* Style the slider */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /*margin-left: -400px;*/
  }
  
  /* Style the slider thumb */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #606C38;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #230727;
    cursor: pointer;
  }

  .slider-container {
    max-width: 400px; /* Set your desired maximum width */
    margin: 0 auto;
}
  
  /* Style the labels (boxes) */
label {
    padding: 10px 20px;
    background-color: #FEFAE0;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style the labels when checked (selected) */
input[type="checkbox"]:checked + label {
    background-color: #DDA15E; /* Change to your desired highlight color */
}

.checkbox-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  .hidden-checkbox {
    display: none;
  }
  
  .checkbox-button .icon {
    content: url('image-removebg-preview.png');
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .checkbox-button .button-text {
    vertical-align: middle;
  }
  
  .checkbox-button:hover {
    background-color: #e0e0e0;
  }
  
  .hidden-checkbox:checked + .checkbox-button {
    background-color: #b0b0b0;
  }
  