<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Web App - QUIZ TAB</title>
</head>
<body>
    <form method="post" action="{{ url_for('save_quiz_answers') }}">
        <p>Question 1: How much fat to lose</p>
        <select name="fat">
            <option value="skinny">negative</option>
            <option value="normal">none</option>
            <option value="america">a bit</option>
            <option value="fat">a lot</option>
            <!-- Add more color options as needed -->
        </select>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
