<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Web App - QUIZ TAB</title>
</head>
<body>
    <form method="post" action="{{ url_for('save_quiz_answers') }}">
        <p>Dietary Restrictions</p>
        <div>
            <input type="checkbox" name="dietary" value="vegetarian" id="vegetarian" class="hidden-checkbox">
            <label for="vegetarian" class="checkbox-button">
              <span class="icon"></span>
              <span class="button-text">Vegetarian</span>
            </label>
            
            
            
            <input class="cs-button-4" type="checkbox" name="dietary" value="vegan" id="vegan">
            <label for="vegan" >Vegan</label>
            
            <input type="checkbox" name="dietary" value="gluten free" id="gluten">
            <label for="gluten" >Gluten Free</label>
           
            <input type="checkbox" name="dietary" value="dairy free" id="dairy">
            <label for="dairy" >Dairy Free</label>
        </div>

        <p>Dietary Preferences</p>
        <div>
            <input type="checkbox" name="preferences" value="high protein" id="protein">
            <label for="protein" >High Protein</label>
            
            <input type="checkbox" name="preferences" value="low sodium" id="sodium">
            <label for="sodium" >Low Sodium</label>
            
            <input type="checkbox" name="preferences" value="low fat" id="fat">
            <label for="fat" >Low Fat</label>
            
            <input type="checkbox" name="preferences" value="low sugar" id="sugar">
            <label for="sugar" >Low Sugar</label>
            
        </div>

        <p>Calorie Scale</p>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="calorie slider" name="calorie">
        </div>
        
        <input type="submit" value="Submit">
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Web App - QUIZ TAB</title>
</head>

<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="" class="cs-logo" aria-label="back to home">
            <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Flogo-black.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="" class="cs-li-link cs-active">
                            Home / About
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="" class="cs-button-solid cs-nav-button">Contact Us</a>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <!-- <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
            <img class="cs-sun" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg" decoding="async" alt="moon" width="15" height="15">
        </button> -->
    </div>
</header>
                                


<body>
    <form method="post" action="{{ url_for('save_quiz_answers') }}">

<section id="services-1377">
    <div class="cs-container">
        <div class="cs-content" style="padding-top: 50px;">
            <h2 class="cs-title" style="font-size: xx-large;">Select Your Preferences & Goals</h2>
            <span class="cs-topper">You can change your selections at any time</span>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-briefcase.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Growing Businesses</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-chart.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Building Relationships</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-thumb.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Operational Excellence</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-dial.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Lifetime Maintenance</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
        </ul>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-briefcase.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Growing Businesses</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-chart.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Building Relationships</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-thumb.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Operational Excellence</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture> 
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-dial.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Lifetime Maintenance</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="contact-strip-324" style="padding-bottom: 40px;">
    <ul class="cs-stat-group" style="padding-top: 80px;">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-grey.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-grey.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <a href="" class="cs-link">123 Fake St, STE 100 <br> Somewhere, FL 98755</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-grey.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Open Hours</span>
                <span class="cs-hours">Monday To Saturday</span>
                <span class="cs-hours">9:00 AM - 10:30 PM</span>
            </div>
        </li>
    </ul>
</div>
                                

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
                                
