<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Web App - QUIZ TAB</title>
</head>
<body>
    <form method="post" action="{{ url_for('save_quiz_answers') }}">
        <p>Dietary Restrictions</p>
        <div>
            <input type="checkbox" name="dietary" value="vegetarian" id="vegetarian" class="hidden-checkbox">
            <label for="vegetarian" class="checkbox-button">
              <span class="icon"></span>
              <span class="button-text">Vegetarian</span>
            </label>
            
            
            
            <input type="checkbox" name="dietary" value="vegan" id="vegan">
            <label for="vegan" >Vegan</label>
            
            <input type="checkbox" name="dietary" value="gluten free" id="gluten">
            <label for="gluten" >Gluten Free</label>
           
            <input type="checkbox" name="dietary" value="dairy free" id="dairy">
            <label for="dairy" >Dairy Free</label>
        </div>

        <p>Dietary Preferences</p>
        <div>
            <input type="checkbox" name="preferences" value="high protein" id="protein">
            <label for="protein" >High Protein</label>
            
            <input type="checkbox" name="preferences" value="low sodium" id="sodium">
            <label for="sodium" >Low Sodium</label>
            
            <input type="checkbox" name="preferences" value="low fat" id="fat">
            <label for="fat" >Low Fat</label>
            
            <input type="checkbox" name="preferences" value="low sugar" id="sugar">
            <label for="sugar" >Low Sugar</label>
            
        </div>

        <p>Calorie Scale</p>
        <div class="slider-container">
            <input type="range" min="1" max="5" value="3" class="slider" id="calorie slider" name="calorie">
        </div>
        
        <input type="submit" value="Submit">
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
