<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Web App - RECIPE TAB</title>
</head>
<body>

<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="static\harmynyLongLogo.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async" >
        </a>
        <div class="url-input-container">
            <input id="url" type="text" name="url-input" placeholder="Enter a Recipe URL Here" style="font-size: large; width: 400px; height: 40px; border-radius: 10px; border: none; padding: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); text-align: center; margin-right: 10px;">
            <button style="font-size: large;" id="submit-btn" onclick="findRecipe()">Submit</button>
        </div>
        
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
    
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->
<section id="hiddenElements" class="hiddenElements" style="padding-top: 80px;">
    <section id="RTsbs-1009">
        <div class="cs-container">
            <img id="foodImage" loading="lazy" decoding="async" src="" alt="person" aria-hidden="true" style="width: 100%; height: auto;">
            <div class="cs-content">
                <div class="cs-container">
                    <div class="cs-content">
                        <div id="outputContainer" style="width: 180%;">
                            <!-- Recognition output will be displayed here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>           

<span id="loadIcon" class="loader" style="display: none;"></span>


</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>