<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Web App - RECIPE TAB</title>
</head>
<body>
    <div class="url-input-container">
        <label for="url-input">Paste URL:</label>
        <input id="url" type="text" name="url-input" placeholder="Enter URL here">
        <button id="submit-btn" onclick="findRecipe()">Submit</button>
        <div id="outputContainer">
            <!-- Recognition output will be displayed here -->
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>